In [3]:
#untuk mengakses google drive
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
#import fitur
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [5]:
#mengakses data movielens dari google drive
import pandas as pd
movies = pd.read_csv('/gdrive/My Drive/Movielens/movies.csv',encoding='Latin1')
Ratings = pd.read_csv('/gdrive/My Drive/Movielens/ratings.csv')
Tags = pd.read_csv('/gdrive/My Drive/Movielens/tags.csv',encoding='Latin1')

Mean = Ratings.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(Ratings,Mean,on='userId')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

   userId  movieId  rating_x   timestamp  rating_y  adg_rating
0       1        2       3.5  1112486027  3.742857   -0.242857
1       1       29       3.5  1112484676  3.742857   -0.242857
2       1       32       3.5  1112484819  3.742857   -0.242857
3       1       47       3.5  1112484727  3.742857   -0.242857
4       1       50       3.5  1112484580  3.742857   -0.242857

In [6]:
#menampilkan data movie
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [7]:
#menampilkan data tags
Tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [8]:
#menampilkan pivot table berdasarkan rating x (NaN = Not aa Number)
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='movieId')
check.head()

movieId  1       2       3       4       ...  130219  130462  130490  130642
userId                                   ...
1           NaN     3.5     NaN     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
3           4.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5           NaN     3.0     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 14026 columns]

In [9]:
#menampilkan pivot table berdasarkan adg rating (NaN = Not aa Number)
final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='movieId')
final.head()

movieId    1         2       3       4       ...  130219  130462  130490  130642
userId                                       ...
1             NaN -0.242857     NaN     NaN  ...     NaN     NaN     NaN     NaN
2             NaN       NaN     0.0     NaN  ...     NaN     NaN     NaN     NaN
3       -0.122995       NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4             NaN       NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5             NaN -1.272727     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 14026 columns]

In [0]:
# mengganti NaN berdasarkan  average Movie 
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [11]:
#menampilkan data pivot tabel movie yang NaN sudah menjadi average movie 
final_movie.head()

movieId    1         2         3       ...    130462    130490    130642
userId                                 ...
1        0.354987 -0.242857 -0.356159  ...  0.124595 -1.135011  0.402045
2        0.354987 -0.269639  0.000000  ...  0.124595 -1.135011  0.402045
3       -0.122995 -0.269639 -0.356159  ...  0.124595 -1.135011  0.402045
4        0.354987 -0.269639 -0.356159  ...  0.124595 -1.135011  0.402045
5        0.354987 -1.272727 -0.356159  ...  0.124595 -1.135011  0.402045

[5 rows x 14026 columns]

In [12]:
#menampilkan data user tabel movie yang NaN sudah menjadi average movie 
final_user.head()

movieId        1             2       ...        130490        130642
userId                               ...
1       -2.537653e-17 -2.428571e-01  ... -2.537653e-17 -2.537653e-17
2        0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
3       -1.229947e-01 -4.749617e-17  ... -4.749617e-17 -4.749617e-17
4       -2.220446e-16 -2.220446e-16  ... -2.220446e-16 -2.220446e-16
5        1.480297e-16 -1.272727e+00  ...  1.480297e-16  1.480297e-16

[5 rows x 14026 columns]

In [13]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

userId      1         2         3     ...          7118      7119      7120
userId                                ...
1       0.000000  0.025079  0.052611  ... -4.135166e-02 -0.013052  0.018360
2       0.025079  0.000000  0.064919  ...  1.377168e-01  0.034293  0.006262
3       0.052611  0.064919  0.000000  ...  1.587831e-02  0.045976  0.011999
4       0.031839  0.025317  0.015300  ...  2.442954e-29 -0.127582  0.032342
5       0.057268  0.052187 -0.008025  ... -7.484938e-02 -0.042648  0.018920

[5 rows x 7120 columns]

In [14]:
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

userId      1         2         3     ...      7118      7119      7120
userId                                ...
1       0.000000  0.993645  0.989068  ...  0.995011  0.995373  0.996025
2       0.993645  0.000000  0.988834  ...  0.995841  0.995259  0.995537
3       0.989068  0.988834  0.000000  ...  0.989760  0.990340  0.990764
4       0.995953  0.995416  0.990749  ...  0.996667  0.996561  0.997543
5       0.993566  0.993240  0.987702  ...  0.994067  0.994213  0.995319

[5 rows x 7120 columns]

In [0]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [16]:
# menampilkan top 30 algoritma KNN for each user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

        top1  top2  top3  top4  top5  ...  top26  top27  top28  top29  top30
userId                                ...
1       3083  1385  1596   179   211  ...   5854   5616   1687   2207   4336
2       5295  6062   213  5974  1004  ...   4297    265   6994   1576   5493
3       3786  2994   554  1120  1811  ...   2099   1896   6478   5041   2207
4       4609  3120  4115   126  3843  ...   3271   6177   1043   1995   3886
5       1607  1438  6521  4876  5271  ...   2499   2493   4727   1699   4580

[5 rows x 30 columns]

In [17]:
# top 30 KNN for each movie
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

        top1  top2  top3  top4  top5  ...  top26  top27  top28  top29  top30
userId                                ...
1       1241  6019  1535  6505  1536  ...   5053   3555    287   3952   4404
2       5975  4863  1535  7071  1536  ...   3305   2526   1337   3082   2704
3       5781  2207  1535  4863  1536  ...   6192   7035   4259   5721   4573
4        126  4609  5987  6992  6671  ...   7071   5603   6504   5158   6918
5       1438  6323  6278  4123  4863  ...   7071   1410   6504   3380   6975

[5 rows x 30 columns]

In [0]:
def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    return common_movies.merge( movies, on = 'movieId' )

In [20]:
a = get_user_similar_movies(360,1029)
a = a.loc[ : , ['rating_x_x','rating_x_y','title']]
a.head()

   rating_x_x  rating_x_y                             title
0         5.0         4.0                  Apollo 13 (1995)
1         5.0         5.0  Shawshank Redemption, The (1994)
2         4.0         5.0              Fugitive, The (1993)

In [0]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [22]:
#menampilkan score berdasarkan rating + jumlah adg score * correlation  / Jumlah correlation 
score = User_item_score(320,7371)
print("score (u,i) is",score)

score (u,i) is 4.197937016136487

In [0]:
Rating_avg = Rating_avg.astype({"movieId": str})
Movie_user = Rating_avg.groupby(by = 'userId')['movieId'].apply(lambda x:','.join(x))

In [0]:
#scrip memberikan rekomnedasi movie berdasarkan user ID
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    return Movie_Names

In [26]:
#menampilkan rekomendasi berdasarkan user ID
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id : 370")
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 75

The Recommendations for User Id : 370

Godfather, The (1972)
Usual Suspects, The (1995)
Schindler's List (1993)
Godfather: Part II, The (1974)
City of God (Cidade de Deus) (2002)